body{
	background-image: url("../img/login/login.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
	font-family: sans-serif;
	font-weight: bold;
}
.boxlogin{
	margin: 160px auto;
	background-color: #F36A6A;
	box-shadow: 0px 2px 10px #9B5050;
	width: 320px;
	height: 250px;
	border-radius: 6px;
	-webki-border-radius: 4px;
	-moz-border-radius: 4px;
	opacity: 0.8; 
}

input[type="submit"]{
	margin-top: 10px;
}
label{
	color: #FFFFFF;
	margin-left: 48px;
	font-size: 20px;
	text-align: left;
	font-family: sans-serif;
	font-weight: bold;
}
.descripcion{
	width: 70%;
	color: #FFFFFF;
	margin-bottom: 10px;
	margin-left: 150px;
	font-size: 20px;
	/*text-align: center;*/
	justify-content: space-between;
	font-family: sans-serif;
	font-weight: bold;
}
.logo{
	position: absolute;
	top: 560px;
	left: 20px;
	width: 100px;
	height: 100px;
}